In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./database/16-10-04.csv")
df.head()

,Packet ID,TIME,Size,eth.src,eth.dst,IP.src,IP.dst,IP.proto,port.src,port.dst
0,1,1475499602,156,30:8c:fb:2f:e4:b2,14:cc:20:51:33:ea,192.168.1.106,52.87.241.159,6,47940,443
1,2,1475499602,66,14:cc:20:51:33:ea,30:8c:fb:2f:e4:b2,52.87.241.159,192.168.1.106,6,443,47940
2,5,1475499603,87,70:ee:50:18:34:43,14:cc:20:51:33:ea,192.168.1.241,192.168.1.1,17,58728,53
3,8,1475499603,246,14:cc:20:51:33:ea,70:ee:50:18:34:43,192.168.1.1,192.168.1.241,17,53,58728
4,9,1475499603,156,30:8c:fb:2f:e4:b2,14:cc:20:51:33:ea,192.168.1.106,52.87.241.159,6,47940,443

In [6]:
df = df.drop(['Packet ID','TIME','Size','eth.src','eth.dst','IP.dst','IP.proto','port.src','port.dst'],axis=1)
df.head()

          IP.src
0  192.168.1.106
1  52.87.241.159
2  192.168.1.241
3    192.168.1.1
4  192.168.1.106

In [8]:
df.to_csv('./database/ipv4.txt', header=None, index=None, sep=' ', mode='a')